<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/sign_up.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>
  <body>
    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <header>Forgot Password</header>
          <form action="/employees/forget-password-page" method="post">
            <div class="field input-field">
              <input type="email" placeholder="Email" class="input" name="email"/>
            </div>

            <div class="field input-field">
              <input type="password" placeholder="Password" class="password" name="password"/>
              <i class="bx bx-hide eye-icon"></i>
            </div>
            <div class="field input-field">
              <input type="password" placeholder="Password" class="password" name="confirmPassword"/>
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <!-- <div class="form-link">
              <a href="#" class="forgot-pass">Forgot password?</a>
            </div> -->

            <div class="field button-field">
              <button>Forgot</button>
            </div>
          </form>

          <div class="form-link">
            <span
              >Don't have an account?
              <a href="#" class="link signup-link">Signup</a></span
            >
          </div>
        </div>

        <!-- <div class="line"></div> -->

        <!-- <div class="media-options">
          <a href="#" class="field facebook">
            <i class="bx bxl-facebook facebook-icon"></i>
            <span>Login with Facebook</span>
          </a>
        </div> -->
<!-- 
        <div class="media-options">
          <a href="#" class="field google">
            <img src="/images/google.png" alt="" class="google-img" />
            <span>Login with Google</span>
          </a>
        </div> -->
      </div>

      <!-- Signup Form -->

      <div class="form signup">
        <div class="form-content">
          <header>Signup</header>
          <form action="/employees/create" method="post">
            <div class="field input-field">
              <input
                type="email"
                placeholder="Email"
                class="input"
                name="email"
              />
            </div>
            <div class="field input-field">
              <input
                type="text"
                placeholder="Name"
                class="input"
                name="name"
              />
            </div>

            <div class="field input-field">
              <input
                type="password"
                placeholder="Create password"
                class="password"
                name="password"
              />
            </div>

            <div class="field input-field">
              <input
                type="password"
                placeholder="Confirm password"
                class="password"
                name="confirmPassword"
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="field button-field">
              <button>Signup</button>
            </div>
          </form>

          <div class="form-link">
            <span
              >Already have an account?
              <a href="#" class="link login-link">Login</a></span
            >
          </div>
        </div>

        <!-- <div class="line"></div>

        <div class="media-options">
          <a href="#" class="field facebook">
            <i class="bx bxl-facebook facebook-icon"></i>
            <span>Login with Facebook</span>
          </a>
        </div> -->

        <!-- <div class="media-options">
          <a href="#" class="field google">
            <img src="/images/google.png" alt="" class="google-img" />
            <span>Login with Google</span>
          </a>
        </div>
      </div> -->
    </section>

    <!-- JavaScript -->
    <script>
        <% if(flash.success && flash.success.length > 0){%>
                    new Noty({
                    theme:'sunset',
                    text: '<h3><%= flash.success%></h3>',
                    type:'success',
                    layout:'topRight',
                    timeout:3000
                }).show();
                <% } %>
  
                <% if(flash.error && flash.error.length > 0){%>
                  new Noty({
                    theme:'sunset',
                    text: '<%= flash.error%>',
                    type:'error',
                    layout:'topRight',
                    timeout:3000
                  }).show();
                <% } %>
      </script>
    <script src="/javascripts/sign_up.js"></script>
  </body>
</html>
