
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Cell | Profile</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
<% if(employee){%>
    <div class="card">
        <div class="img">
          <img src="/images/dummy-profile.png" >
        </div>
        <div class="infos">
          <div class="name">
            <h2><%=employee.name%></h2>
            <h4><%=employee.email  %></h4>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi hic dolorem consectetur quae, exercitationem eum saepe odio beatae quaerat ipsum deserunt neque nihil ipsa repellendus et sapiente ducimus optio repellat.
          </p>
          <div class="links">
            <button class="follow"><a href="/employees/sign-out">Sign Out</a></button>
            <button class="follow"> <a href="/">Home</a></button> <br> <br>
            <button class="view"> <a href="/employees/forget-password">Update Username and Password</a></button>
          </div>
        </div>
      </div>
<% } %>
<script>
  <% if(flash.success && flash.success.length > 0){%>
              new Noty({
              theme:'sunset',
              text: '<h3><%= flash.success%></h3>',
              type:'success',
              layout:'topRight',
              timeout:3000
          }).show();
          <% } %>

          <% if(flash.error && flash.error.length > 0){%>
            new Noty({
              theme:'sunset',
              text: '<%= flash.error%>',
              type:'error',
              layout:'topRight',
              timeout:3000
            }).show();
          <% } %>
</script>
</body>
</html>
